@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
.main .section__grow--together .section__grow--together--text h2, .main .section__flow .section__flow--text h2, .main .section__users .section__users--text h2 {
  padding: 1rem 0;
  color: #00252e; }
.main .section__grow--together .section__grow--together--text p, .main .section__flow .section__flow--text p, .main .section__users .section__users--text p {
  width: 50%;
  color: #808d99;
  line-height: 3rem; }

.main .section__grow--together .section__grow--together--img, .main .section__flow .section__flow--img, .main .section__users .section__users--img {
  width: 30%; }
  .main .section__grow--together .section__grow--together--img img, .main .section__flow .section__flow--img img, .main .section__users .section__users--img img {
    width: 100%; }

.footer .footer__icons .footer__icons--logo a .logo__fb, .footer .footer__icons .footer__icons--logo a .twitter__logo, .footer .footer__icons .footer__icons--logo a .insta__logo {
  border: 1px solid #ebfbff;
  border-radius: 5rem;
  margin: 0 1rem;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 5rem; }
  .footer .footer__icons .footer__icons--logo a .logo__fb:hover, .footer .footer__icons .footer__icons--logo a .twitter__logo:hover, .footer .footer__icons .footer__icons--logo a .insta__logo:hover {
    border: 1px solid #ff52bf; }

.header .header__center .header__center--community a .header__center--community--btn, .main .section__ready--to--build a button {
  height: 5rem;
  background-color: #ff52bf;
  color: #ebfbff;
  border-radius: 25rem;
  font-weight: 700;
  border: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15); }

.footer .footer__icons .footer__icons--logo a .logo__fb .fa-facebook-f, .footer .footer__icons .footer__icons--logo a .twitter__logo .fa-twitter, .footer .footer__icons .footer__icons--logo a .insta__logo .fa-instagram {
  color: #ebfbff;
  font-size: 2.2rem; }
  .footer .footer__icons .footer__icons--logo a .logo__fb .fa-facebook-f:hover, .footer .footer__icons .footer__icons--logo a .twitter__logo .fa-twitter:hover, .footer .footer__icons .footer__icons--logo a .insta__logo .fa-instagram:hover {
    color: #ff52bf; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif; }

p {
  font-size: 1.8rem;
  font-weight: 400; }

section {
  display: flex;
  align-items: center;
  height: 40vh;
  border: 1px solid white;
  border-radius: 2rem;
  margin-bottom: 4rem;
  padding: 5rem 5rem 5rem 10rem;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15); }

.header {
  padding: 8rem;
  height: 100vh;
  background: url(../images/bg-hero-desktop.svg); }
  .header .header__top {
    display: flex;
    justify-content: space-between; }
    .header .header__top .header__top--button {
      height: 5rem;
      width: 15rem; }
      .header .header__top .header__top--button a button {
        cursor: pointer;
        border-radius: 25rem;
        font-weight: 700;
        height: 100%;
        width: 100%;
        background-color: white;
        border: none;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15); }
      .header .header__top .header__top--button:hover {
        opacity: 0.8; }
  .header .header__center {
    display: flex;
    align-items: center;
    height: 100%; }
    .header .header__center .header__center--community {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 100%;
      padding-right: 25rem; }
      .header .header__center .header__center--community .header__center--community--title {
        font-size: 5rem; }
      .header .header__center .header__center--community .header__center--community--description {
        margin: 5rem 0;
        line-height: 3rem; }
      .header .header__center .header__center--community a .header__center--community--btn {
        cursor: pointer;
        width: 20rem; }
      .header .header__center .header__center--community a:hover {
        opacity: 0.65; }
    .header .header__center .header__center--img {
      width: 50%; }
      .header .header__center .header__center--img img {
        margin: 0 auto;
        width: 100%; }

.main {
  width: 100%;
  padding: 20rem 10rem 30rem 10rem;
  position: relative; }
  .main .section__flow {
    position: relative; }
    .main .section__flow .section__flow--text {
      position: absolute;
      width: 40%;
      right: 8rem; }
      .main .section__flow .section__flow--text p {
        width: 100%; }
  .main .section__ready--to--build {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
    margin: 0 auto;
    position: absolute;
    bottom: -14rem;
    left: 35%;
    background-color: white; }
    .main .section__ready--to--build a button {
      width: 30rem;
      cursor: pointer; }
    .main .section__ready--to--build a:hover {
      opacity: 0.65; }

.footer {
  display: flex;
  height: 80vh;
  background-color: #00252e;
  padding: 25rem 10rem 10rem 10rem; }
  .footer .footer__huddle {
    width: 33%;
    display: flex;
    flex-direction: column; }
    .footer .footer__huddle .footer__huddle--img {
      filter: brightness(0) invert(1);
      width: 70%;
      margin-bottom: 7rem; }
    .footer .footer__huddle .footer__huddle--text {
      display: flex; }
      .footer .footer__huddle .footer__huddle--text img {
        padding-top: 1rem;
        width: 3rem;
        height: 3rem; }
      .footer .footer__huddle .footer__huddle--text p {
        margin-left: 5rem;
        color: #ebfbff;
        line-height: 2.5rem; }
    .footer .footer__huddle .footer__huddle--phone {
      display: flex;
      margin: 3rem 0; }
      .footer .footer__huddle .footer__huddle--phone img {
        width: 2rem;
        height: 2rem; }
      .footer .footer__huddle .footer__huddle--phone p {
        margin-left: 4rem;
        color: #ebfbff;
        line-height: 2.5rem; }
    .footer .footer__huddle .footer__huddle--email {
      display: flex; }
      .footer .footer__huddle .footer__huddle--email img {
        width: 2rem;
        height: 2rem; }
      .footer .footer__huddle .footer__huddle--email p {
        margin-left: 4rem;
        color: #ebfbff;
        line-height: 2.5rem; }
  .footer .footer__center {
    display: flex;
    justify-content: center;
    width: 33%;
    padding: 10rem 0 0 0; }
    .footer .footer__center .footer_about--us p {
      color: #ebfbff;
      margin: 2.5rem; }
    .footer .footer__center .footer__career p {
      color: #ebfbff;
      margin: 2.5rem 0 2.5rem 8rem; }
  .footer .footer__icons {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12rem;
    padding-left: 3rem; }
    .footer .footer__icons .footer__icons--logo {
      display: flex;
      flex: row; }
  .footer .footer__icons--copyright span {
    font-size: 1.4rem;
    color: #ebfbff; }

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    padding: 2rem;
    background-size: 100%; }
    .header .header__top .header__top--logo {
      line-height: 3rem;
      width: 100%; }
      .header .header__top .header__top--logo img {
        width: 50%; }
    .header .header__top .header__top--button {
      height: 3rem; }
    .header .header__center {
      display: flex;
      flex-direction: column; }
      .header .header__center .header__center--community {
        padding: 0;
        width: 100%; }
        .header .header__center .header__center--community .header__center--community--title {
          font-size: 2.8rem;
          text-align: center; }
        .header .header__center .header__center--community .header__center--community--description {
          text-align: center; }
        .header .header__center .header__center--community a {
          margin: 0 auto; }
          .header .header__center .header__center--community a .header__center--community--btn {
            width: 26rem; }
      .header .header__center .header__center--img {
        width: 100%; }

  .main {
    padding: 2rem;
    margin-bottom: 20rem; }
    .main .section__grow--together {
      height: 80vh;
      padding: 2rem;
      flex-direction: column-reverse;
      justify-content: space-around; }
      .main .section__grow--together .section__grow--together--text {
        width: 100%;
        padding: 1rem; }
        .main .section__grow--together .section__grow--together--text h2 {
          width: 100%;
          text-align: center; }
        .main .section__grow--together .section__grow--together--text p {
          width: 100%;
          text-align: center;
          font-size: 1.6rem; }
      .main .section__grow--together .section__grow--together--img {
        width: 100%; }
        .main .section__grow--together .section__grow--together--img img {
          width: 100%; }
    .main .section__flow {
      padding: 2rem;
      position: static;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .main .section__flow .section__flow--img {
        width: 100%; }
      .main .section__flow .section__flow--text {
        position: static;
        width: 100%; }
        .main .section__flow .section__flow--text h2 {
          width: 100%;
          text-align: center; }
        .main .section__flow .section__flow--text p {
          width: 100%;
          text-align: center;
          font-size: 1.6rem; }
    .main .section__users {
      padding: 2rem;
      width: 100%;
      height: 80vh;
      flex-direction: column;
      justify-content: space-around; }
      .main .section__users .section__users--text {
        width: 100%; }
        .main .section__users .section__users--text h2 {
          width: 100%;
          text-align: center; }
        .main .section__users .section__users--text p {
          width: 100%;
          text-align: center;
          font-size: 1.6rem; }
      .main .section__users .section__users--img {
        width: 100%; }
    .main .section__ready--to--build {
      padding: 2rem;
      height: 25vh;
      bottom: -30rem;
      left: 0; }
      .main .section__ready--to--build h2 {
        font-size: 2rem;
        text-align: center; }
      .main .section__ready--to--build a button {
        width: 20rem; }

  .footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25rem 2rem 5rem 2rem; }
    .footer .footer__huddle {
      width: 100%; }
    .footer .footer__center {
      width: 100%;
      flex-direction: column; }
      .footer .footer__center .footer__career p:first-child {
        margin-top: 0; }
      .footer .footer__center .footer__career p {
        margin: 2.5rem; }
    .footer .footer__icons {
      width: 100%;
      padding-top: 8rem;
      padding-left: 0; }
      .footer .footer__icons .footer__icons--logo {
        margin: 0 auto;
        margin-bottom: 4rem; }
      .footer .footer__icons .footer__icons--copyright {
        text-align: center; } }

/*# sourceMappingURL=style.css.map */
